/*body { background-color: black; color: white; font-family: sans-serif; }*/
.setting { display: none; align-content: center;}
.setting label { display: inline-block; text-align: right;}
.setting label, .setting input, .setting output { vertical-align: center; }

/*input, output {background-color: black;}*/
input.diff, output.diff {background-color: yellow; color: black;}